body {
    background-color: rgb(53, 224, 224);
    background-image: url();
    font-family: Arial, sans-serif;
    font-size: 20px;
    line-height: 1.5;

}

h1 {
    color: rgb(230, 13, 13);
    text-align: center;
    margin-top: 50px;
}
h2{
    color: rgb(212, 3, 20);
    text-align: center;
}
h2:hover {
    box-shadow: 0 0 5px cyan,
        0 0 25px cyan, 0 0 50px cyan,
        0 0 100px cyan, 0 0 200px cyan;
}
{
    text-align: center;
}
form{
    color: brown;
    text-align: center;
    margin-top: 50px;
}
form:hover{
    box-shadow: 0 0 5px cyan,
            0 0 25px cyan, 0 0 50px cyan,
            0 0 100px cyan, 0 0 200px cyan;
}

label{
    
    color: rgb(211, 8, 143);
    text-align: center;
    display: block
    
}
button {

    background-color: cyan;
    color: rgb(199, 15, 15);
    box-shadow: 0 0 5px cyan,
        0 0 35px cyan;
    border-radius: 5px
}

button:hover {
    box-shadow: 0 0 5px cyan,
        0 0 25px cyan, 0 0 50px cyan,
        0 0 100px cyan, 0 0 200px cyan;

}
input{
    text-align: center;
}