body {
    background-color: rgb(18, 19, 18);
    background-image: url();
    font-family: Arial, sans-serif;
    font-size: 20px;
    line-height: 1.5;

}

h1 {
    color: rgb(224, 11, 111);
    text-align: center;
    margin-top: 50px;
}

h2 {
    color: rgb(16, 189, 219);
    text-align: center;
}s

h2:hover {
    box-shadow: 0 0 5px red,
        0 0 25px red, 0 0 50px red,
        0 0 100px red, 0 0 200px rgb(204, 5, 5);
}

    {
    text-align: center;
}

form {
    color: brown;
    text-align: center;
    margin-top: 50px;
}

form:hover {
    box-shadow: 0 0 5px cyan,
        0 0 25px cyan, 0 0 50px cyan,
        0 0 100px cyan, 0 0 200px cyan;
}

label {

    color: rgb(211, 8, 143);
    text-align: center;
    display: block
}

button {

    background-color: cyan;
    color: ;
    box-shadow: 0 0 5px cyan,
        0 0 35px cyan;
    border-radius: 5px
}

button:hover {
    box-shadow: 0 0 5px cyan,
        0 0 25px cyan, 0 0 50px cyan,
        0 0 100px cyan, 0 0 200px cyan;

}

input {
    text-align: center;
}
tr{
    color: aqua;
}
tr:hover {
    box-shadow: 0 0 5px cyan,
        0 0 25px cyan, 0 0 50px cyan,
        0 0 100px cyan, 0 0 200px cyan;
}